<h2>Hello,</h2>
<h3>Új üzenet érkezett az alábbi adatokkal.</h3>
<ul>
    <li><strong>Név:</strong> {{name}}</li>
    <li><strong>Telefon:</strong> {{phone}}</li>
    <li><strong>Email:</strong> {{email}}</li>
    <li><strong>Tárgy:</strong> {{subject}}</li>
</ul>
<h3>Az üzenete szövege:</h3>
<p>{{text}}</p>