<p>Hello,</p>
<p>Új foglalás érkezett az alábbi adatokkal.</p>
<ul>
    <li><strong>Foglalási szám:</strong> {{id}}</li>
    <li><strong>Vevő:</strong> {{name}}</li>
    <li><strong>Cím:</strong> {{address}}</li>
    <li><strong>Telefon:</strong> {{phone}}</li>
    <li><strong>Email:</strong> {{email}}</li>
    <li><strong>Létszám:</strong> {{adults}}</li>
    <li><strong>Érkezés:</strong> {{arrival}}</li>
    <li><strong>Távozás:</strong> {{leave}}</li>
</ul>
<p>A díjbekérő generálása {{proform}}.</p>