<p>Hello,</p>
<p>Az alábbi foglalás díja befizetésre került.</p>
<ul>
    <li><strong>Foglalási szám:</strong> {{id}}</li>
    <li><strong>Vevő:</strong> {{name}}</li>
    <li><strong>Cím:</strong> {{address}}</li>
    <li><strong>Telefon:</strong> {{phone}}</li>
    <li><strong>Email:</strong> {{email}}</li>
    <li><strong>Számla sorszáma:</strong> {{invoiceNum}}</li>
</ul>
<p>A számla generálása {{invoice}}.</p>